<h1>Let's Play</h1>

<!-- Puts all user info into the variable so that it stores the ids so that I can access it afterwards -->

<!-- getting the picture to display -->
<img src="<%= @correct_answer.user.picture_url %>">

<p>We asked the person above: "<%= @question.original_question %>"<br><br>What do you think they answered?</p>

<%= form_tag do %>
  <% @shuffled.each do |answer| %>
    <%= radio_button_tag("users_choice", answer.id) %>
    <%= label_tag "users_choice_#{answer.id}", answer.saved_answer %>
  <% end %>
  <%= submit_tag "Submit Choice" %>
<% end %>

<br>

<% @correct_response.to_json %>
<% @correct_response.body %>
<% party = JSON.parse(@correct_response) %>
<img src="<%= party["Poster"] %>">

<% @incorrect_responses.to_json %>
<% @incorrect_responses.body %>
<% party = JSON.parse(@incorrect_responses) %>
<img src="<%= party["Poster"] %>">

<% @incorrect_response.to_json %>
<% @incorrect_response.body %>
<% party = JSON.parse(@incorrect_response) %>
<img src="<%= party["Poster"] %>">





