<h1>Let's Play</h1>

<!-- Puts all user info into the variable so that it stores the ids so that I can access it afterwards -->
<% sample_user = User.all.sample %>
<!-- getting the picture to display -->
<img src="<%= sample_user.picture_url %>">


<p>We asked the person above: "<%= sample_user.questions[0].original_question %>"<br><br>What do you think they answered?</p>


<p><button><a href="/games"><%= sample_user.answers[0].saved_answer %></a></button></p>
<p><button><a href="/questions"><%= User.all.sample.answers[0].saved_answer %></a></button> </p>
<p><button><a href="/"><%= User.all.sample.answers[0].saved_answer %></a></button> </p>





